@import "./assets/fonts/fonts.css";

:root {
  --primary-green: #61c15c;
  --text-main: #68686a;
  --text-header: #323747;
  --grey: #dde0e7;
  --white: #ffffff;
  --footing: #1e2128;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  background: var(--white);
}

