<footer class="footer" id="footer">
  <div class="footer_container_l">
    <h1>Say hello and let's work together !</h1>
    <address>
      Email: <a href="mailto:nikolai.pavuk@yandex.ru">nikolai.pavuk@yandex.ru</a>
      <br>
      Телефон: <a href="tel:89965462835">89965462835</a>
    </address>

    <div class="footer_link_img">
      <img class="img_link" src="assets/footer_image_vk.png" alt="vk">
      <img class="img_link" src="assets/footer_image_tg.png" alt="tg">
      <img class="img_link" src="assets/footer_image_github.png" alt="github">
    </div>

    <div class="text_sm">© 2026 Brand, Inc</div>
  </div>

  <form method="get" class="footer_container_r">
    <div class="text_sm">
      Email <br>
      <input class="input" name="user_email" placeholder="Your email address">
    </div>

    <div class="text_sm">
      Input your message <br>
      <textarea class="input" name="user_blog" rows="10" placeholder="Describe your project"></textarea>
    </div>

    <div>
      <button class="btn" type="submit">Отправить</button>
    </div>
  </form>
</footer>
