.footer {
  margin-top: 30px;
  background-color: var(--footing);
  display: grid;
  padding-left: 10vw;
  padding-right: 10vw;
  gap: 60px;
  grid-template-columns: 1fr 1fr;
}

.footer * {
  color: var(--grey);
}

.footer_link_img {
  display: flex;
  gap: 24px;
  padding: 15px 0 40px;
}

.footer_link_img img {
  max-width: 32px;
  max-height: 32px;
}

.footer_container_l,
.footer_container_r {
  display: grid;
  gap: 5px;
  margin-bottom: 60px;
}

.input {
  padding: 12px;
  width: 100%;
  min-height: 45px;
  border: 1px solid var(--grey);
  border-radius: 5px;
  background-color: var(--footing);
}

.footer .btn {
  background-color: var(--primary-green);
  border-color: var(--footing);
  width: 20%;
}
